logs
*.log
.env
docker-compose.yml
config/emby/cache
config/emby/logs
config/heimdall/log
config/heimdall/www/logs
config/jackett/Jackett/log.txt
config/jellyseerr/logs
config/qbittorrent/qBittorrent/logs
config/radarr/logs
config/radarr/Backups
config/sonarr/logs
config/sonarr/Backups
config/chinesesubfinder/cache
config/chinesesubfinder/Logs